.news-ul {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.tech-title-img {
  width: 350px;
  margin: 20px;
}

.container {
  background-color: var(--light-blue);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensure relative positioning for pseudo-element */
  padding: 15px;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  backdrop-filter: blur(5px);
}



.article-img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0; /* Rounded corners for the top */
}

.container h3,
.container p,
.container h4 {
  padding: 10px;
  margin: 0;
}

.container h3 {
  font-size: 1.2rem;
}

.container p {
  font-size: 0.9rem;
  color: #333;
  font-weight: 500;
}

.container h4 {
  font-size: 1rem;
  color: black;
  margin-top: auto;
}
