.home-banner-div{
    display: flex;
    margin-top: 20px;
    height: 500px;
    align-items: center;
    justify-content: space-around;
    background-color: #F79D65;
    /* background-image: url('https://cdn11.bigcommerce.com/s-swcou/product_images/uploaded_images/mystickerfacesheets.gif'); */
}
.left-side-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sticky-letters{
    width: 400px;
}

.baner-img{
    width: 300px;
}
