.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgba(84, 71, 47, 0.213);
}

.nav-div{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.nav-page-links{
    display: flex;
    align-items: center;
}

.nav-p{
    font-weight: 600;
    font-size: 20px;
    margin: 15px;
}


a{
    text-decoration: none;
}

.user-avatar{
    width: 80px;
}








